
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1100px;
    margin: 0 auto;
    border: 3px solid darkgreen;
    background-color: #fffded;
}


main{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid darkgreen;
    background-image: -moz-linear-gradient(
	    30deg, darkorange 0%, #f6bb73 30%, white 50%, lightgreen 80%, darkgreen 100%);
	background-image: -webkit-linear-gradient(
	    30deg, darkorange 0%, #fffded 30%, white 50%, lightgreen 80%, darkgreen 100%);
	background-image: -o-linear-gradient(
	    30deg, darkorange 0%, #fffded 30%, white 50%, lightgreen 80%, darkgreen 100%);
	background-image: linear-gradient(
	    30deg, darkorange 0%, #fffded 30%, white 50%, lightgreen 80%, darkgreen 100%);
}
header h2 {
	font-size: 175%;
	color: darkorange;
}
header h3 {
	font-size: 130%;
	font-style: italic;
    color: darkorange;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px lightgreen;
}
nav{
    border-bottom: darkgreen solid 4px;
	background-color: lightcyan;
}
nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#gameslogo{
    height: 200px;
    width: 250px;
}
section {
	width: 525px;
	float: right;
	padding: 0 20px 50px ;
    border-left: darkgreen solid 5px;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;               
}

section p {
	padding-bottom: .5em;
}



/* the styles for the article */
article {
	padding: .5em 0;

}


/* the styles for the aside */
 aside  {
	width: 215px;
	float: left;
	padding: 0 0 20px 20px;
}
 aside  h2 {
	color: black;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

 aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
 aside img {
	padding-bottom: 1em;
}
.two{
	width: 215px;
	float: left;
	padding: 0 0 20px 20px;
}
/* the styles for the footer */
footer {
	background-color:green;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
